* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .navbar-logo {
    width: 120px;
    height: auto;
  }
}

.navbar {
  padding-left: 0;
  padding-right: 0;
  height: 70px;
}

.navbar-logo {
  width: auto;
  height: 200px;
}
